
<style type="text/css">
	body 
	{
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	 	color: black;
	 	
	}

	
	.nav > li > a{
		
		color: #2952CC;
		text-align: left;

	}
	
	
	.linkbar {
		display: inline-block;
		width: 15%;
		text-align: left;


	}
	
	.linkbar1 {
		display: inline-block;
		width: 83%;
	}
	.linkbar2 {

		display: inline-block;
		width: 25%;
		
		
	}

	
	.nav {
		vertical-align: text-top;

	}
	




	


</style><br>


	



<div class = "linkbar">


		
		
			<ul class = "nav">
			<li><a href = <%=homepage_about_us_path%>>Company</a></li>
			<li><a href = <%=homepage_our_team_path%>>Executive Team</a></li>
			<li><a href = <%=homepage_financial_perf_path%>>Financial Performance</a></li>
			
			<li><a href = <%=homepage_contact_us_path%>>Contact Us</a></li>
			</ul></div>


		<div class = "linkbar1"><img src = "/assets/Company.png" align = "right" height = "170px" width = "220px">
		
			<font  color = "#333399" size = "5">Company</font><hr width="75%" align = "left"> 
			
			<font>
				LIBSERV is an HR software services company. We develop software products that automate business processes for companies<br>to ensure a seamless experience for today’s mobile and multi-location workforce. Our products include WorkforceTM and Performance.
				<br><br>
				We also integrate with a payroll solution called Quikchex to provide customers with a full HR management system.

 

Established in 2014, we are very much a startup at heart. We also leverage the reputation of the PSS group, a leader in recruitment and staffing services, of which we are a part. Through our sister companies, we integrate the delivery of HR software services with premier recruitment and staffing services. 
				

			</font></div>
				
				
			
			
			
			
	
	






