
<style type="text/css">

	body 
	{
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	 	color: black;
	 	
	}

	
	.nav > li > a{
		
		color: #2952CC;
		text-align: left;

	}
	
	
	.linkbar {
		display: inline-block;
		width: 15%;
		text-align: left;


	}
	
	.linkbar1 {
		display: inline-block;
		width: 83%;
	}
	.linkbar2 {

		display: inline-block;
		width: 25%;
		
		
	}

	
	.nav {
		vertical-align: text-top;

	}
	




	






	


</style><br>
<div class = "linkbar">



		
		
			<ul class = "nav">
			<li><a href = <%=homepage_careers_path%>>Careers</a></li>
			<li><a href = <%=homepage_jobpostings_path%>>Job Openings</a></li>
			
			</ul></div>


		<div class = "linkbar1">
		<img src = "/assets/Careers-logo.png" align = "right" height = "150px" width = "200px">
		
			<font  color = "#333399" size = "5">Careers</font><hr width="75%" align = "left"> 
			
			<font>
				To spur our growth, we are always looking for talented people. If you are a software programmer,<br>a sales associate or an HR domain expert and the possibility of working with a talented team excites you, we would like to hear from you.<br><br> 


Please browse through are frequently updated jobs and apply for a role that suits you.<br>We will call you if we like your profile and request you to complete an online assessment to assess your skills. 



				<br>
				
			</font></div>
			
			
	
	






