
<style type="text/css">
	body 
	{
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	 	color: black;
	 	
	}

	
	.nav > li > a{
		
		color: #2952CC;
		text-align: left;

	}
	
	
	.linkbar {
		display: inline-block;
		width: 15%;
		text-align: left;


	}
	
	.linkbar1 {
		display: inline-block;
		width: 83%;
	}
	.linkbar2 {

		display: inline-block;
		width: 25%;
		
		
	}

	
	.nav {
		vertical-align: text-top;

	}
	




	


</style><br>
<div class = "linkbar">



		
		
			<ul class = "nav">
			<li><a href = <%=homepage_about_us_path%>>Company</a></li>
			<li><a href = <%=homepage_our_team_path%>>Executive Team</a></li>
			<li><a href = <%=homepage_financial_perf_path%>>Financial Performance</a></li>
			
			<li><a href = <%=homepage_contact_us_path%>>Contact Us</a></li>
			</ul></div>


		<div class = "linkbar1">
		<img src = "/assets/noimage.gif" align = "right" height = "170px" width = "200px">
		
			<font  color = "#333399" size = "5">Financial Performance</font><hr width="75%" align = "left"> 
			
			<font>
				
				<br>

			</font></div>
			
			
	
	






