
<style type="text/css">
	body 
	{
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	 	color: black;
	 	
	}

	
	.nav > li > a{
		
		color: #2952CC;
		text-align: left;

	}
	
	
	.linkbar {
		display: inline-block;
		width: 15%;
		text-align: left;


	}
	
	.linkbar1 {
		display: inline-block;
		width: 83%;
	}
	.linkbar2 {

		display: inline-block;
		width: 25%;
		
		
	}

	
	.nav {
		vertical-align: text-top;

	}
	




	


</style><br>
<div class = "linkbar">



		
		
			<ul class = "nav">
			<li><a href = <%=homepage_hr_products_path%>>WorkPro</a></li>
			<li><a href = <%=homepage_performance_path%>>Performance</a></li>
			<li><a href = <%=homepage_payroll_expenses_path%>>Payroll</a></li>
			
			
			</ul></div>


		<div class = "linkbar1">
		<img src = "/assets/WorkProLOGO.JPG" align = "right" height = "200px" width = "250px">
		
			<font  color = "#333399" size = "5">WorkPro</font><hr width="73%" align = "left"> 
			
			<font>
				WorkPro is a cloud solution that enables CEOs and HR managers to manage employee affairs seamlessly. It automates<br> activities like attendance, leave, employee documentation management, onboarding of new employees and exit management. <br><br>


It focuses on specific features in each module that makes an HR manager's job easier. <br><br>


The attendance module features mobile clock-in and GPS tracking which eliminates the need for machines and avoids the <br>problem of proxy attendance.

With leave, you can configure any policy in minutes. The on-boarding module automates and<br>quickens the on-boarding process.<br> Thus no follow ups with new employees for their data or managing their documents in folders. Separation is just as easy to configure<br> so that the exit process of an employee happens smoothly. 
				<br>

			</font></div>
			
			
	
	






