


<style type="text/css">
	body 
	{
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	 	color: black;
	 	
	}

	
	.nav > li > a{
		
		color: #2952CC;
		text-align: left;

	}
	
	
	.linkbar {
		display: inline-block;
		width: 15%;
		text-align: left;


	}
	
	.linkbar1 {
		display: inline-block;
		width: 83%;
	}
	.linkbar2 {

		display: inline-block;
		width: 25%;
		
		
	}

	
	.nav {
		vertical-align: text-top;

	}
	




	


</style><br>




<table width = "100%">
	<tr>
		<td align = "center" width = "50%"><img src = "/assets/Driving.jpeg"></img></td>
		<td align = "center" width = "50%">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src = "/assets/assets.png"></img></td>
	</tr>
</table><br>

<div align="center" width="100%" ><font size = "9" align="center" color = "#333399">Products</font></div><br>
<table width = "100%" class = "table">
	
	<tr>
		<td align = "center" width = "34%">
			<img src = "/assets/quikchex.png" align = "center" height = "100px" width = "180px"></img>

		</td>
		<td align = "center" width = "33%">
			<img src = "/assets/Work Pro Colour.png" align = "center" height = "120px" width = "180px"></img><br>
			<!-- <img src = "/assets/madeeasy.png" align = "center" height = "40px" width = "150px"></img> -->
		</td>
		<td align = "center" width = "33%">

			<img src = "/assets/Performance-logo.png" align = "center" height = "100px" width = "200px"></img>

		</td>
	</tr>
</table>
<table width = "100%">
	<tr>
		<td width = "35%" align = "center">
			
			<font align = "left"  >We integrate with QuikChex payroll & expenses solution,<br>a sister company, to provide enterprises with an end-to-end HR solution.</font>
		</td>
		<td width = "33%" align = "center">
			
			<font align = "left" >An integrated cloud product for HR departments of small and medium enterprises. It automates workflows for Attendance, Leave, New employee Onboarding & employee document storage.</font>
		</td>
		<td width = "32%" align = "center">
			
			<font align = "left"  >Set up KRAs, assign ratings & benchmark employee<br> performance with peers and across time periods.</font>
		</td>
		
	</tr>
</table><br><br>
<table width = "100%">
	<tr>
		<td width = "75%">
			<br><font  color = "#333399" size = "9">About Us</font><br><br>
			<font>LIBSERV offers HR departments across industries cutting edge products and services that help their companies manage employee affairs in an efficient way while also bringing down transaction costs. We believe that business leaders should be focused on investing in their people and growing their businesses, not getting bogged down in administrative work. We are a partner of the PSS Group of companies.<br><br> Our first companies, Personnel Search Services or PSS, was established in 1981. We represent an evolution of 35 years of experience in delivering specialized HR services.
			</font>
		</td>
		<td width= "25%" align = "center"><br>
			
		</td>
	</tr>
</table>

