
<style type="text/css">
	body 
	{
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	 	color: black;
	 	
	}

	
	.nav > li > a{
		
		color: #2952CC;
		text-align: left;

	}
	
	
	.linkbar {
		display: inline-block;
		width: 15%;
		text-align: left;


	}
	
	.linkbar1 {
		display: inline-block;
		width: 83%;
	}
	.linkbar2 {

		display: inline-block;
		width: 25%;
		
		
	}

	
	.nav {
		vertical-align: text-top;

	}
	




	


</style><br>


	



<div class = "linkbar">



		
		
			<ul class = "nav">
			<li><a href = <%=homepage_hr_products_path%>>Workstaff</a></li>
			<li><a href = <%=homepage_performance_path%>>Performance</a></li>
			<li><a href = <%=homepage_payroll_expenses_path%>>Payroll</a></li>
			
			
			</ul></div>


		<div class = "linkbar1">
		<img src = "/assets/quikchex.png" align = "right" height = "120px" width = "200px">
		
			<font  color = "#333399" size = "5">Payroll & Expenses By QuikChex</font><hr width="80%" align = "left"> 
			
			<font>
				No HR management software is complete without a payroll platform. Keeping this in mind, LIBSERV has integrated WorkStaff with QuikChex payroll & expense management platform to give you an end-to-end HRMS solution. <br><br>

Our payroll extension allows payroll managers to input every employee’s payroll input like salary components, PF and ESIC. <br><br>Payroll reimbursements like medical and LTA, as well as business expense reimbursements like mobile and travel can be requested, <br>approved and processed through QuikChex. Employees can view their monthly and historic salary slips on their ESS accounts. 
				<br>

			</font></div>
			
			
	
	






