
<style type="text/css">
	body 
	{
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	 	color: black;
	 	
	}

	
	.nav > li > a{
		
		color: #2952CC;
		text-align: left;

	}
	
	
	.linkbar {
		display: inline-block;
		width: 15%;
		text-align: left;


	}
	
	.linkbar1 {
		display: inline-block;
		width: 83%;
	}
	.linkbar2 {

		display: inline-block;
		width: 25%;
		
		
	}

	
	.nav {
		vertical-align: text-top;

	}
	




	


</style><br>
<div class = "linkbar">



		
		
			<ul class = "nav">
			<li><a href = <%=homepage_hr_products_path%>>WorkPro</a></li>
			<li><a href = <%=homepage_performance_path%>>Performance</a></li>
			<li><a href = <%=homepage_payroll_expenses_path%>>Payroll</a></li>
			
			
			</ul></div>


		<div class = "linkbar1">
		<img src = "/assets/Performance-logo.png" align = "right" height = "170px" width = "250px">
		
			<font  color = "#333399" size = "5">Performance</font><hr width="72%" align = "left"> 
			
			<font>
				LIBSERV’s Performance application allows managers and direct reports to create & track goals, assign weightages and assess performance on a rating system that is designed to benchmark people with peers and against a historical context. It offers the<br>flexibility for any person in an organization to be appraised by any other person, for 3600 appraisal.
				

			</font></div>
			
			
	
	






