
<style type="text/css">
	body 
	{
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	 	color: black;
	 	
	}

	
	.nav > li > a{
		
		color: #2952CC;
		text-align: left;

	}
	
	
	.linkbar {
		display: inline-block;
		width: 15%;
		text-align: left;


	}
	
	.linkbar1 {
		display: inline-block;
		width: 83%;
	}
	.linkbar2 {

		display: inline-block;
		width: 25%;
		
		
	}

	
	.nav {
		vertical-align: text-top;

	}
	




	


</style><br>
<div class = "linkbar">



		
		
			<ul class = "nav">
			<li><a href = <%=homepage_services_path%>>Outsourcing</a></li>
			<li><a href = <%=homepage_support_path%>>Support</a></li>
			
			
			
			</ul></div>


		<div class = "linkbar1">
		<img src = "/assets/noimage.gif" align = "right" height = "170px" width = "220px">
		
			<font  color = "#333399" size = "5">Outsourcing</font><hr width="75%" align = "left"> 
			
			<font>
				LIBSERV provides outsourcing services that includes managing activities like HR administration and recruitment.


HR administration<br>services involve managing your leave and attendance across multiple locations, processing payroll and non-payroll reimbursements, and facilitating on-boarding and exits. All activities are administered through the WorkStaff platform.<br><br>


Recruitment services are provided through our sister concerns PSS and Lobo Staffing solutions for mid to senior level positions.



				

			</font></div>
			
			
	
	






