
<style type="text/css">
	body 
	{
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	 	color: black;
	 	
	}

	
	.nav > li > a{
		
		color: #2952CC;
		text-align: left;

	}
	
	
	.linkbar {
		display: inline-block;
		width: 15%;
		text-align: left;


	}
	
	.linkbar1 {
		display: inline-block;
		width: 83%;
	}
	.linkbar2 {

		display: inline-block;
		width: 25%;
		
		
	}

	
	.nav {
		vertical-align: text-top;

	}
	




	


</style><br>
<div class = "linkbar">



		
		
			<ul class = "nav" >
			<li><a href = <%=homepage_services_path%>>Outsourcing</a></li>
			<li><a href = <%=homepage_support_path%>>Support</a></li>
			
			
			
			</ul></div>


		<div class = "linkbar1">
		<img src = "/assets/noimage.gif" align = "right" height = "150px" width = "200px">
		
			<font  color = "#333399" size = "5">Support</font><hr width="75%" align = "left"> 
			
			<font>
				Support services encompass both product and technical support for customers using the WorkStaff platform. <br><br>


Product support includes implementation and Go-Live management, training of users <br>and an online helpdesk service for use of the WorkStaff and Performance products. <br><br>


Technical support covers product updates and server architecture management. <br>All SLA agreements are covered under technical support services.  






				<br>

			</font></div>
			
			
	
	






