
<style type="text/css">
  body 
  {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: black;
    
  }

  
  .nav > li > a{
    
    color: #2952CC;
    text-align: left;

  }
  
  
  .linkbar {
    display: inline-block;
    width: 15%;
    text-align: left;


  }
  
  .linkbar1 {
    display: inline-block;
    width: 83%;
  }
  .linkbar2 {

    display: inline-block;
    width: 25%;
    
    
  }

  
  .nav {
    vertical-align: text-top;

  }
  




  


</style><br>
<div class = "linkbar">



    
    
      <ul class = "nav">
      
      <li><a href = <%=homepage_jobpostings_path %>>Job Openings</a></li>
      
      </ul></div>


    <div class = "linkbar1">
    <img src = "/assets/Careers-logo.png" align = "right" height = "250px" width = "300px">
    
      <div class="alert alert-info" role="alert">Thank You For Your Application!</div><hr width="80%" align = "left">
      <font>
      <p>We will get back to you soon as your CV gets shortlisted.</p></font></div>
      <%#= form_for :homepages do |f| %>


         
   

<!--<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_job_applicant_path(@job_applicant) %> |
<%= link_to 'Back', job_applicants_path %>-->







